<div class="main__tab">
    <div class="accordion active">
        <h1 class="accordion__name">Загальна інформація</h1>
    </div>
    <div class="accordion__panel" style="max-height: fit-content;">
        <div class="pannel__item">
            <p class="pannel__item__name">Inside</p>:&nbsp;
            <p class="pannel__item__value" id="inside">{{received_msg.inside}}</p>
            <p class="pannel__item__unit">&#8451;</p>
        </div>

        <div class="pannel__item">
            <p class="pannel__item__name">Humidity inside</p>:&nbsp;
            <p class="pannel__item__value" id="inh">{{received_msg.inh}}</p>&nbsp;
            <p class="pannel__item__unit">0/0;</p>
        </div>

        <div class="pannel__item">
            <p class="pannel__item__name">Outside</p>:&nbsp;
            <p class="pannel__item__value" id="outside">{{received_msg.outside}}</p>
            <p class="pannel__item__unit">&#8451;</p>
        </div>

        <div class="pannel__item">
            <p class="pannel__item__name">Humidity outside</p>:&nbsp;
            <p class="pannel__item__value" id="outh">{{received_msg.outh}}</p>
            <p class="pannel__item__unit">&#8451;</p>
        </div>

        <div class="pannel__item">
            <p class="pannel__item__name">Atmospheric pressure</p>:&nbsp;
            <p class="pannel__item__value" id="atm">{{received_msg.atm}}</p>&nbsp;
            <p class="pannel__item__unit">mm&nbsp;Hg</p>
        </div>
    </div>
    <div class="faded" style="display: none;">
        {{> burger }}
    </div>
</div>